.menuitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.menuitem:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.menuitem-name {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.menuitem-price {
  padding: 5px;
  font-size: 12px;
}
